body {
  font-family: "Noto Sans SC", "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.065em;
  color: #333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body:lang(en), p:lang(en), span:lang(en) {
  font-family: "Arial", sans-serif; /* 英文优先使用 Arial */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif SC", "PingFang SC", "Microsoft YaHei", serif;
  color: #222;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1.5em;
}

.gray-text {
  color: #888888;
  display: block;
  margin-top: 1rem; /* 添加空行效果 */
  margin-bottom: 1rem; /* 添加空行效果 */
}