body {
  font-family: "Noto Sans SC", "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.065em;
  color: #333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body:lang(en), p:lang(en), span:lang(en) {
  font-family: "Arial", sans-serif; /* 英文优先使用 Arial */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif SC", "PingFang SC", "Microsoft YaHei", serif;
  color: #222;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1.5em;
}

.gray-text {
  color: #888888;
  display: block;
  margin-top: 1rem; /* 添加空行效果 */
  margin-bottom: 1rem; /* 添加空行效果 */
}

.gray-line {
  color: #888888;
  display: block;
  margin-top: -1rem; /* 添加空行效果 */
  margin-bottom: 1rem; /* 添加空行效果 */
}

/*blockquote {
  font-size: 0.8em;
}*/

blockquote {
  border-left: 4px solid #dddddd;   /* 细灰色竖线 */
  color: #757a82;                   /* 字体灰色 */
  background: none;                 /* 可选：去除背景 */
  padding: 0.2em 1em;               /* 内边距：上下，左右 */ 
  margin: 1em 0;                    /* 外边距：上下，左右 */ 
  font-size: 0.8em;                   /* 可调节字体大小 */
  font-style: normal;               /* 去斜体 */
  border-radius: 4px;               /* 可选：圆角 */
}


td, th {
  vertical-align: middle;
}

pre, code {
  font-family:
    "JetBrains Mono",
    "Fira Mono",
    "Source Code Pro",
    "IBM Plex Mono",
    "DejaVu Sans Mono",
    "Consolas",
    "Menlo",
    "Monaco",
    "Courier New",
    monospace !important;
  font-size: 1em;
}